---
layout: default
title: VII Congrés de Sobirania Tecnològica
---

<br/>
<p>El Congrés de Sobirania Tecnològica, que enguany celebra la seva setena edició, és un punt de trobada d’activistes, acadèmics, experts i totes aquelles persones interessades en saber com la tecnologia afecta les seves vides. I que pretén estudiar quin és l'impacte social de les tecnologies des d’un punt de vista interdisciplinari i amb una clara voluntat divulgativa. El seu objectiu: acostar la ciutadania a aquest tema i sensibilitzar-la de l’impacte que té sobre els seus drets i llibertats fonamentals.</p>
<div class="talks">
  <hr/>
</div>


<h1>Programa</h1>
<p>En el programa d&#39;aquest any:</p>
<ul>
<li>Repassarem que entén la <strong>Unió Europea per sobirania digital</strong> i què s&#39;ha fet, es fa i es diu que es farà per implementar-la. </li>
<li>Abordarem en un taller com <strong>evitar un ús abusiu dels mòbils</strong>, plantejant-ho com un repte en família. </li>
<li>Reflexionarem sobre l&#39;<strong>art generatiu</strong>, és a dir totes aquelles creacions programades amb ordinadors.</li>
<li>Escoltarem les propostes de l'<strong>antifeixisme cuqui</strong></li>
<li>Ens visitaran d&#39;una <strong>colònia ecoindustrial postcapitalista</strong></li>
<li>Reflexionarem sobre la <strong>petjada ecològica</strong> que deixen els centres de dades. </li>
<li>Recuperarem el document de decidim.cat i ens preguntarem quina <strong>governança ha de tenir internet</strong>. </li>
<li>Abordarem el tema d&#39;<strong>espionatge als dispositius mòbils</strong> (per exemple, el cas PEGASUS)</li>
<li>Tancarem amb un taller per descobrir els <strong>mitjans socials lliures</strong>.</li>
</ul>




<p><b>Podeu consultar tot el <a href="/programa.html">programa aquí</a>.</b></p>



<div class="talks">
<hr/>
</div>
<h1> Inscripcions</h1>
<p>Com sempre, les <a href="/inscriute.html">inscripcions</a> ens ajuden a preparar millor la logística el SobTec, els dinars i evitar superar l'aforament permès. Aquest any també tenim un formulari per veure si hi hauria necessitat d'organitzar un servei de canguratge i un altre per evitar superar l'aforament d'un taller, limitat a 50 persones (el que no hauria de ser un problema tenint en compte l'aforament dels anteriors SobTecs).</p>

<div class="talks">
    <hr/>
</div>

<h2>Si en voleu més... <a href="https://mobilesocialcongress.cat/">Mobile Social Congress!</a></h2>

<p>El 3, 4 i 5 de març podeu apuntar-vos al <a href="https://mobilesocialcongress.cat/">Mobile Social Congress</a>, un espai obert a la ciutadania, que ofereix una mirada crítica a l'actual model de producció i consum d'aparells electrònics i de les tecnologies de la informació i la comunicació, i una oportunitat per conèixer models i projectes alternatius basats en la sobirania tecnològica, la sostenibilitat i el respecte pels drets humans.</p>

<p>Podeu apuntar-vos <a href="https://nextcloud.pangea.org/apps/forms/s/wFjwWWZmCBMCmgrpyisEw5nA">en aquest formulari</a></p> 

<a href="https://mobilesocialcongress.cat/"><img src="/assets/img/Banner_MSC_info.webp" alt="Bàner del Mobile Social Congress on s'anuncia el programa, que podeu trobar a sota. A la dreta, hi ha el lema Hackegem el sistema, construïm resistències, i al costat un ordinador del qual surten uns ratolins." width="512px" style="width:75%;margin-left: auto;margin-right:auto; display: block;"></a>
<br/>