---
layout: default
title: VI Congrés de Sobirania Tecnològica
---

<br/>
<p>El Congrés de Sobirania Tecnològica, que enguany celebra la seva sisena edició, és un punt de trobada d’activistes, acadèmics, experts i totes aquelles persones interessades en saber com la tecnologia afecta les seves vides. I que pretén estudiar quin és l'impacte social de les tecnologies des d’un punt de vista interdisciplinari i amb una clara voluntat divulgativa. El seu objectiu: acostar la ciutadania a aquest tema i sensibilitzar-la de l’impacte que té sobre els seus drets i llibertats fonamentals.</p>



<h1>Programa</h1>
{% include programa.html %}

<p>El SobTec és gratuït, però poder preveure quanta gent vindrà ens facilita molt les coses que la gent s'apunti. En cas que se superés l'aforament d'una sala, es donaria prioritat a les persones inscrites.</p>
<div style="text-align:center">
<a href="https://cloud.hangar.org/apps/forms/s/GMxXooyDcRRSoCftaQmtGtt2" class="button">Inscriu-te al SobTec 2024</a>
</div>
<p>Si voleu estar al dia del SobTec, podeu seguir-nos als nostres canals o apuntar-vos al <a href="/butlleti.html">butlletí</a></p>
<br/>