<div class="container header">
  <div class="row">
    <div class="col-sm-4">
      <a class="brand" href="{{ site.baseurl }}/"><img class="img-responsive" src="{{ site.baseurl }}/img/logo_congres.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" /></a>
      <b>Dissabte 4 de març de 2017,</b><br />
      <b>Centre Cívic Joan Oliver "Pere Quart"</b>
    </div>
    <div class="col-sm-4 col-sm-offset-4 ">
      <ul class="navigationbar list-unstyled">
        <li {% if page.url == '/' %} class="active" {% endif %}><a href="{{ site.baseurl }}/">Sobtec</a></li>
        <li {% if page.url == '/calendari' %} class="active" {% endif %}><a href="{{ site.baseurl }}/calendari.html">Programa</a></li>
        <li {% if page.url == '/grup_promotor' %} class="active" {% endif %}><a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a></li>
        <li><a href="http://wiki.sobtec.cat" target="blank">La nostra wiki</a></li>
        <li><a href="../2016">Congrés 2016</a></li>
      </ul>
    </div>
  </div>
</div>
