---
---

$content-max-width: 1024px;
$media-break-point: 780px;


$primary-year-color: #344466;
$secondary-year-color: #ba78c4;

/*generated from https://angel-rs.github.io/css-color-filter-generator/ */
$primary-year-color-filter: brightness(0) saturate(100%) invert(23%) sepia(32%) saturate(761%) hue-rotate(182deg) brightness(95%) contrast(89%);
$secondary-year-color-filter: brightness(0) saturate(100%) invert(82%) sepia(49%) saturate(3604%) hue-rotate(218deg) brightness(81%) contrast(85%);
@import "edicions-anteriors";
@import "mainiac";
@import "agenda";
@import "header";
@import "footer";
