.tags
    margin-top rem(30px)
    a
        font-size rem(14px)
        color sec
        display inline-block
        border 1px solid sec
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        &:hover
            color hover
            border 1px solid hover

.img-rounded
    border-radius 50%
