/*generated from https://angel-rs.github.io/css-color-filter-generator/ */
.edicions-anteriors a {
  color: white;
  text-decoration: underline;
}

.edicions-anteriors h1 {
  margin: 5% 0% 5% 4%;
}

@font-face {
  font-family: "DIN";
  src: url("fonts/DINEngschriftStd.eot");
  src: url("fonts/DINEngschriftStd.eot?#iefix") format("embedded-opentype"), url("fonts/DINEngschriftStd.woff2") format("woff2"), url("fonts/DINEngschriftStd.woff") format("woff"), url("fonts/DINEngschriftStd.ttf") format("truetype"), url("fonts/DINEngschriftStd.svg#DIN") format("svg");
  font-weight: bold;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ECECEA;
  background: #c7224f;
  background-color: #344466;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}

h1, h2, h3, h4 {
  color: #ba78c4;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5%;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #ba78c4;
  font-weight: bold;
}

.button {
  text-align: center;
  background-color: #ba78c4;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

hr {
  color: white;
  background-color: white;
  border: none;
  height: 1px;
  margin-bottom: 6%;
  margin-top: 5%;
}

.xarxes img {
  filter: brightness(0) saturate(100%) invert(82%) sepia(49%) saturate(3604%) hue-rotate(218deg) brightness(81%) contrast(85%);
}

.base {
  max-width: 55%;
  float: left;
  padding-right: 1%;
}

.smallroom {
  max-width: 38%;
  float: right;
  padding-top: 50%;
}

.frame {
  width: 100%;
}

.frame:after {
  display: table;
  clear: both;
  content: "";
}

.agenda {
  max-width: 600px;
}

.agenda-item {
  display: flex;
  align-items: baseline;
}

.agenda-item h2 {
  display: inline;
  font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.agenda-item .time {
  max-width: 300px;
  margin-top: 30px;
}

.agenda-item .talks .talk {
  padding: 20px;
  flex: 1;
}

.talks {
  width: 100%;
}

.agenda-item .talk hr {
  border-top: 0;
  border-bottom: 3px dashed #ba78c4;
  background: none;
  margin-bottom: 0px;
  margin-top: 30px;
}

.talk-side {
  max-width: 500px;
}

@media all and (max-width: 780px) {
  .agenda-item .time {
    font-size: 30px;
    line-height: 0.7em;
  }
  .agenda-item .talk {
    flex-direction: column;
  }
}
@media print {
  body h1 {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body h2 {
    font-size: 0.6em;
    margin-top: 10px;
    line-height: normal;
  }
  body h3 {
    font-size: 0.5em;
  }
  body p {
    font-size: 0.3em;
    margin-bottom: 10px;
    line-height: normal;
  }
  body .agenda-item .time {
    display: inline;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.5em;
  }
  .container .agenda-item {
    display: inline-felx;
    line-height: 80%;
  }
  .container .agenda-item .talk hr {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .container .agenda-item .time {
    margin-top: 10px;
  }
  .container .agenda-item .talks .talk {
    padding-bottom: 3%;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  .container .smallroom {
    padding-top: 20%;
  }
}
header {
  background-color: #ba78c4;
  margin: 0;
  padding: 10px;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .title {
  max-width: 350px;
}

header .navigationbar {
  max-width: 400px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 a {
  font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  background: transparent;
  color: #fff;
  line-height: 1.1;
}

header a:hover {
  color: #344466;
  text-decoration: none;
}

header .subheading {
  color: #344466;
  font-size: 26px;
}

header ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}

header ul li {
  margin-bottom: 13px;
}

header li a {
  color: #fff;
  font-size: 38.5px;
  font-weight: bold;
}

header li.active a {
  color: #344466;
  text-decoration: underline;
}

@media all and (max-width: 780px) {
  header .container {
    margin: auto;
    display: flow-root;
    flex-direction: column;
  }
  header .subheading {
    font-size: 1.1em;
  }
  header .navigationbar {
    margin-top: 20px;
    width: 36%;
    float: right;
  }
  header .navigationbar li a {
    font-size: 1em;
  }
  header h1, h2, h3, h4 {
    font-size: 1.6em;
  }
  header .title {
    max-width: 200px;
    float: left;
  }
}
@media print {
  body {
    background-color: none;
  }
  header .title {
    max-width: 700px;
  }
  header .title h1 {
    font-size: 1em;
    margin-bottom: 1px;
  }
  header .subheading {
    font-size: 0.8em;
    margin-bottom: 2px;
  }
  header .navigationbar {
    display: none;
  }
}
footer {
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #ba78c4;
}

/* Layout*/
footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container > div {
  max-width: 300px;
}

footer img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(32%) saturate(761%) hue-rotate(182deg) brightness(95%) contrast(89%);
}

footer p {
  font-weight: bold;
  margin-top: 0%;
  color: #344466;
}

footer a {
  color: #344466;
  text-decoration: underline;
  font-weight: bold;
}

footer a:hover {
  color: #fff;
}

footer h2 {
  color: #344466;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 3%;
}

footer h3 {
  color: #344466;
  font-size: 30px;
  margin-bottom: 1%;
}

footer address {
  max-width: 200px;
}

footer .follow-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12%;
  max-height: 39px;
}

footer .follow-us img {
  width: 50px;
}

footer .footer-divider {
  background-image: url("/assets/img/footer-divider.png");
  height: 50px;
  margin-top: 2%;
  margin-bottom: 3%;
  filter: brightness(0) saturate(100%) invert(23%) sepia(32%) saturate(761%) hue-rotate(182deg) brightness(95%) contrast(89%);
}

.iconesFooter {
  float: left;
  margin-right: 7px;
  margin-left: 7px;
}

.iconesFooter img {
  width: 50px;
}

@media all and (max-width: 780px) {
  footer .container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
#map iframe {
  height: 200px;
}

.container-web {
  max-height: 23%;
}

@media print {
  footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */