<!DOCTYPE html>
<html lang="ca">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">

      <a href="/programa.html#{{page.slug}}">←Torna al programa</a>
      <h1> {{page.title}}</h1>
        {{ content }}
        {% if page.warning != null %}
          <b>{{page.warning}}</b>
        {% endif %}
        
        <h2>Etiquetes</h2>
        <ul class="talk-keywords" style="list-style:none; padding-left: 0px;">
        {% for tag in page.tags %}<li style="padding-left:6px">#{{tag}} </li>
        {% endfor %}
        </ul>
        <h2>Xerrada a càrrec de</h2>
        <b>{{ page.ponent }}</b><br/>
        <p>{{ page.ponent-description }}</p>

        <div class="xarxes">
        {% if page.ponent-link != null %}<a href="{{ page.ponent-link }}" target="_blank">
          <img src="{{site.baseurl}}/assets/icons/link-solid.svg" alt="Enllaç al projecte" width="50px"/></a>
        {% endif %}
        {% if page.ponent-twitter != null %}<a href="https://twitter.com/{{ page.ponent-twitter }}" target="_blank">
          <img src="{{site.baseurl}}/assets/icons/twitter-brands.svg" alt="Enllaç al twitter del projecte" width="40px"/></a>
        {% endif %}
        </div>

        <a href="/programa.html#{{page.slug}}">←Torna al programa</a>
        <br/>
    </div>

    {% include footer.html %}

  </body>

</html>
