.agenda-item {
  display: flex;
  align-items: baseline;
}

.agenda-item h2 {
    display: inline;
    font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.agenda-item .time {
  width: 300px;
}

.agenda-item .talks {
  display: flex;
  flex: 1;
}

.agenda-item .talks .talk {
  padding: 20px;
  flex: 1;
}

.agenda-item .talks hr {
    border-top: 0;
    border-bottom: 3px dashed #000;

}

@media all and (max-width:$media-break-point) {
  .agenda-item {
    flex-direction: column;
  }

  .agenda-item .time {
    font-size: 30px;
    line-height: 30px;
  }

  .agenda-item .talks {
    flex-direction: column;
  }

}
