---
layout: default
---

<div class="calendar-day row">
  <h1>19 DE FEBRER</h1>
</div>
<div class="row">
  <div class="calendar-activity col-xs-4">
    <img src="{{ site.baseurl }}/img/robot.png" alt="Mark Cuningham" />
    <h2>MARK CUNINGHAM</h2>
    <h2>Metòde i llibres</h2>
    <hr />
    <p>
      Lorem Ipsum és un text de farciment usat per la indústria de la tipografia i la impremta. Lorem Ipsum ha estat el text estàndard de la indústria des de l'any 1500, quan un impressor desconegut va fer servir una galerada de text i la va mesclar per crear un llibre de mostres tipogràfiques.
    </p>
  </div>
  <div class="calendar-activity col-xs-4">
    <img src="{{ site.baseurl }}/img/robot.png" alt="Mark Cuningham" />
    <h2>MARK CUNINGHAM</h2>
    <h2>Metòde i llibres</h2>
    <hr />
    <p>
      Lorem Ipsum és un text de farciment usat per la indústria de la tipografia i la impremta. Lorem Ipsum ha estat el text estàndard de la indústria des de l'any 1500, quan un impressor desconegut va fer servir una galerada de text i la va mesclar per crear un llibre de mostres tipogràfiques.
    </p>
  </div>
  <div class="calendar-activity col-xs-4">
    <img src="{{ site.baseurl }}/img/robot.png" alt="Mark Cuningham" />
    <h2>MARK CUNINGHAM</h2>
    <h2>Metòde i llibres</h2>
    <hr />
    <p>
      Lorem Ipsum és un text de farciment usat per la indústria de la tipografia i la impremta. Lorem Ipsum ha estat el text estàndard de la indústria des de l'any 1500, quan un impressor desconegut va fer servir una galerada de text i la va mesclar per crear un llibre de mostres tipogràfiques.
    </p>
  </div>
</div>
