<footer>
  <div class="footer-divider"></div>
  <div class="container" >
    <div>
      <h2>Organitza</h2>
      <a href="/grup_promotor.html"><img src="{{site.baseurl}}/assets/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" /></a>
      <br/>
      
      <h3>Segueix-nos</h3>
      <div class="follow-us">
        <div class="iconesFooter">
          <a href="mailto:{{ site.email }}">
            <img src="{{site.baseurul}}/assets/img/mail_logo.png" alt="Envia'ns un correu"/>
            <!--{{ site.email }}-->
          </a>
          </div>
        <div class="iconesFooter">
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img src="/assets/icons/twitter-brands.svg" alt="twitter"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div class="iconesFooter">
          <a href="https://mastodont.cat/@sobtec" target="_blank">
            <img src="{{site.baseurl}}/assets/img/Mastodon_icon.png" alt="Mastodont"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div>
          <a href="https://riot.im/app/#/room/{{ site.matrix_room }}" target="_blank">
            <img src="/assets/img/riot_logo_transparent.png" alt="Sala de Matrix"/>
          </a>
        </div>
      </div>
      
      
    </div>
    <div>
      <h2> Localització</h2>       
        <br/>
        <a href="https://www.openstreetmap.org/?mlat=41.372920&mlon=2.136605#map=19/41.372920/2.136605">		    <address>La Lleialtat Santsenca<br/>Carrer Olzinelles, 31<br/> 08014 Barcelona</address></a>
      
      
    </div>
    <div>
      
      <h3>Web</h3>
      <div class="container container-web">
        <p>Utilitzem<br/>
         <a href="http://jekyllrb.com/" target="_blank">
          <img src="/assets/img/jekyll-logo-black-transparent.png" alt="Logotip Jekyll" width="100" />
         </a>
        </p>
        
        <p>aquí tens el codi<br/>
          <a href="https://gitlab.com/grup_promotor_sobtec/web" target="_blank">
            <img src="/assets/img/Gitlab_logo.png" alt="Gitlab" style="max-width:100px;margin-left:15%;"/>
          </a>
        </p>
      </div>
        <p><br/>gràcies, <a href="https://fontawesome.com/license">fontawesome</a> per les icones d'aquesta web</p>

    </div>
  </div>
</footer>
