<header>
  <div class="container">
    <div class="title" id="titlepart">
      <h1>
        <a href="/">VII Congrés de Sobirania Tecnològica</a>
      </h1>
      
      <div class="subheading">
        <b>Dissabte 1 de març de 2025</b><br/>
        <b>La Lleialtat Santsenca</b>
      </div>
    
    </div>
    <a href="javascript:void(0);" class="menubutton" onclick="responiveMenu()">☰</a>
    <script>
    function responiveMenu() {
      // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later
      var x = document.getElementById("Navigation_menu");
      var y = document.getElementById("titlepart")
      if (x.style.display === "block") {
        x.style.display = "none";
        y.style.display = "block";
      } else {
        x.style.display = "block";
        y.style.display = "none";
      }
    } 
    // @license-end
    </script>
    <div class="navigationbar" id="Navigation_menu">
      <ul>
        <li {% if page.url == '/programa.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/programa.html">Programa {{ site.year }}</a>
        </li>
        <li {% if page.url == '/inscriute.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/inscriute.html">Inscriu-t'hi</a>
        </li>
      <li><hr></li>
        <li {% if page.url == '/manifest.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/manifest.html">Manifest</a>
        </li>
        <li {% if page.url == '/grup_promotor.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a>
        </li>
        <li {% if page.url == '/comptes_clars.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/comptes_clars.html">Els comptes clars</a>
        </li>           
        <li {% if page.url == '/butlleti.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/butlleti.html">Butlletí</a>
        </li>
        <li><hr></li>
        <li {% if page.url == '/edicions_anteriors.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/edicions_anteriors.html">Edicions anteriors</a>
        </li>
      </ul>
    </div>
  </div>
</header>
