<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.author }}{% endif %}">

  <!-- css -->
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css">
<!-- mastodont -->
<link rel="me" href="https://mastodont.cat/@sobtec">

<link rel="canonical" href="{{ page.url | replace:'/','' | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- Favicon-->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" href="{{site.url}}{{site.baseurl}}/assets/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{site.url}}{{site.baseurl}}/assets/favicon/favicon.svg" />
<link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/assets/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}{{site.baseurl}}/assets/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="SobTec" />
<link rel="manifest" href="{{site.url}}{{site.baseurl}}/assets/favicon/site.webmanifest" />
</head>
