<textarea rows="22" cols="63" id="myInput">
Torna el SobTec 📢💻
https://sobtec.cat/ 

📆 Dissabte, 1 de març de 2025  
🏠 La Lleialtat de Sants (Olzinelles, 31 08014 Barcelona)  

El Congrés de Sobirania Tecnològica torna en la seva 7a edició amb:
  * sobirania Digital a la Unió Europea 🇪🇺 🏰
  * detox de mòbil com a repte per a les famílies ⛺📵 
  * art generatiu 🧑‍🎨 💻 
  * antifeixisme cuqui 💅 ✊ 
  * una colònia ecoindustrial postcapitalista 🏡 ✨
  * xarxes comunitàries sense fils 🛜🧰
  * governança d'internet 🦸📧
  * petjada ecològica de centres de dades 👣 💨 🏢
  * espionatge digital 🕵️🔭
  * taller per a passar-se a xarxes socials federades 🐘🎊

📰 Tot el programa → https://sobtec.cat/programa.html
</textarea>
<p style="text-align: right;"><a class="button" onclick="CopyText()">Copia-ho al porta-retalls</a></p>

<script>
// @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later
  function copyText() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(copyText.value);
  }
  // @license-end
  </script>