{% for talk in site.programa %}
{% if talk.type == "full-morning" %}
<div class="agenda-item">
    <div class="time"><h2 class="time">{{talk.hour}}</h2></div>
    <div class="talks" style="width:100%;">
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <div class="talk-description">{{ talk.excerpt }}</div>
            
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
            <hr/>
        </div>    
    </div>
</div>
{% endif %}
{% endfor %}


{% assign talks = site.programa | sort_natural: "hour" %}


<div class="agenda-item">
    <div class="time"><h2 class="time">10:30</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "10:30"%}
        <div class="talk" id="{{talk.slug}}">
            
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            {% if talk.warning != null %}<b>{{talk.warning}}</b>
              {% endif %}
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
            
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>

<div class="agenda-item">

    <div class="time"><h2 class="time">11:45</h2></div>
    <div class="talks" style="width:100%;">
        
        <div class="talk" style="text-align: center;">
            <hr style="margin-bottom: 25px;"/>
            <h2 style="text-align: center;padding: 20px;">DESCANS</h2>
            <hr />
        </div>    
    </div>
</div>

<div class="agenda-item">
    <div class="time"><h2 class="time">12:15</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "12:15"%}
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
           
        </div>
        {% endif %}
        {% endfor %} 
        
    </div>
</div>

<div class="agenda-item">
    
    <div class="time"><h2 class="time">13:10</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "13:10"%}
        <div class="talk" id="{{talk.slug}}">
            <hr style="margin-bottom: 25px;"/>
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}

        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>

<div class="agenda-item">

    <div class="time"><h2 class="time">14:05</h2></div>
    <div class="talks" style="width:100%;">
        
        <div class="talk" style="text-align: center;">
            <hr style="margin-bottom: 20px;">
            <h2 style="text-align: center;padding: 15px;">DINAR</h2>
            <hr />
        </div>    
    </div>
</div>  

<div class="agenda-item">
    <div class="time"><h2 class="time">15:40</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "15:40"%}
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
            <hr />
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="agenda-item">
    <div class="time"><h2 class="time">16:30</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "16:30"%}
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
            
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>

<div class="agenda-item"> 
    <div class="time"><h2 class="time">17:25</h2></div>
    <div class="talks" style="width:100%;">
        
        <div class="talk" style="text-align: center;">
            <hr style="margin-bottom: 25px;"/>
            <h2 style="text-align: center;padding: 15px;">DESCANS</h2>
            <hr />
        </div>    
    </div>
</div>  
<div class="agenda-item">
    <div class="time"><h2 class="time">17:55</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "17:55"%}
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
            <hr />
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="agenda-item">
    <div class="time"><h2 class="time">19:05</h2></div>
    <div class="talks" style="display: flex;">
        {% for talk in talks %} 
        {% if talk.hour == "19:05"%}
        <div class="talk" id="{{talk.slug}}">
            <a href="{{talk.url}}"><h2>{{talk.title}}</h2></a>
            <p>{{talk.room}}</p>
            <div class="talk-description">{{ talk.excerpt }}</div>
            <p class="ponent">Amb {{talk.ponent}}</p>
            {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a>{%endif %}
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>
