<footer>
  <div class="footer-divider"></div>
  <div class="container" >
    <div>
      <h2>Organitza</h2>
      <img src="{{site.baseurl}}/assets/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
      <br/>
      <h2>hi col·labora</h2>
      <a href="https://hangar.org">
        <img src="{{site.baseurl}}/assets/img/hangar-logo.svg" alt="Logo d'hangar" width="250px">
      </a>
      <p>i la Fundació OpenVote</p>
      
      
    </div>
    <div>
      <h2> Localització</h2>
      <div id="map">
        <iframe title="Map of Hangar" src="https://www.openstreetmap.org/export/embed.html?bbox=2.198310345411301%2C41.408147379305795%2C2.2005499899387364%2C41.40906068578705&amp;layer=hot&amp;marker=41.40860403415127%2C2.1994301676750183" style="border: 1px solid black"></iframe>
        <br/>
        <a href="https://www.openstreetmap.org/?mlat=41.40860&amp;mlon=2.19943#map=20/41.40860/2.19943&amp;layers=H">C/: Emilia Coranty, 16<br>08018 Barcelona</a>
      </div>
      
      <!-- Needconfirmation
      <h2>Participa</h2>
      <h4>
        <a href="http://www.sobtec.cat" target="_self">
          www.sobtec.cat
        </a>
      </h4>
       <a href="https://tools.wmflabs.org/geohack/geohack.php?pagename=Lleialtat_Santsenca&language=ca&params=41.37295556_N_2.13659444_E_" target="_blank">
		    <address>
		      La Lleialtat Santsenca. Carrer Olzinelles, 31 08014. Barcelona
		    </address>
	    </a> -->
    </div>
    <div>
      <h3>Segueix-nos</h3>
      <div class="follow-us">
        <div class="iconesFooter">
          <a href="mailto:{{ site.email }}">
            <img src="{{site.baseurl}}/assets/img/mail_logo.png" alt="Envia'ns un correu"/>
            <!--{{ site.email }}-->
          </a>
          </div>
        <div class="iconesFooter">
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img src="{{site.baseurl}}/assets/icons/twitter-brands.svg" alt="twitter"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
        <div class="iconesFooter">
          <a href="https://mastodont.cat/@sobtec" target="_blank">
            <img src="{{site.baseurl}}/assets/img/Mastodon_icon.png" alt="Mastodont"/>
            <!--{{ site.twitter_username }}-->
          </a>
        </div>
      </div>
      <h3>Web</h3>
      <div class="container container-web">
        <p>Utilitzem<br/>
         <a href="http://jekyllrb.com/" target="_blank">
          <img src="{{site.baseurl}}/assets/img/jekyll-logo-black-transparent.png" alt="Logotip Jekyll" width="100" />
         </a>
        </p>
        
        <p>aquí tens el codi<br/>
          <a href="https://gitlab.com/grup_promotor_sobtec/web" target="_blank">
            <img src="{{site.baseurl}}/assets/img/Gitlab_logo.png" alt="Gitlab" style="max-width:100px;margin-left:15%;"/>
          </a>
        </p>
      </div>
        <p>gràcies, <a href="https://fontawesome.com/license">fontawesome</a> per les icones d'aquesta web</p>

    </div>
  </div>
</footer>
