{% for post in site.posts %}
{% if post.type == "full-morning" %}
<div class="agenda-item">
<h2 class="time">{{post.hour}}</h2>
<div class="talks" style="width:100%;">
                    <div class="talk">
                    <a href="{{site.baseurl}}{{post.url}}"><h2>{{post.title}}</h2></a>
                    {{ post.excerpt }}
                    {% if post.pad != nul %}<a href="{{ post.pad }}">Apunts</a> | {%endif %} 
                    {% if post.video != nul %}<a href="{{ post.video }}">Video</a> | {%endif %}
                    {% if post.teixidora != nul %}<a href="{{ post.teixidora }}">Teixidora</a>{% endif %}
                    <hr />
                    </div>    
                </div>
</div>

{% endif %}
{%endfor %}
<div class="frame">
{% assign talks = site.posts | sort_natural: "hour" %}
<div class="base">
    <h2> Sala polivalent </h2>
    {% for talk in talks %} 
        <div class="agenda-item"> 
    
        {% if talk.type != "full-morning" and talk.type!="full-afternoon" and talk.room != "Sala petita"%}
        <h2 class="time">{{talk.hour}}</h2>
                <div class="talks">
                    <div class="talk">
                    <a href="{{site.baseurl}}{{talk.url}}"><h2>{{talk.title}}</h2></a>
                    {{ talk.excerpt }}
                    {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a> | {%endif %} 
                    {% if talk.video != nul %}<a href="{{ talk.video }}">Video</a> | {% endif %}
                    {% if talk.teixidora != nul %}<a href="{{ talk.teixidora }}">Teixidora</a>{% endif %}
                    {% unless talk.hour == "15:30" %}<hr />{%endunless%}
                    </div>    
                </div>
          {% endif %}

        </div>
    {% endfor %}
</div>

<div class="smallroom">
<h2> Sala Petita </h2>
    <div class="agenda-item">
    {% for talk in talks %} 
        {% if talk.room == "Sala petita" %}
            <div class="talk talk-side">
                <h2><a href="{{site.baseurl}}{{ talk.url }}">{{talk.title }}</a></h2>
                {{ talk.excerpt }}
                {% if talk.pad != nul %}<a href="{{ talk.pad }}">Apunts</a> | {%endif %}
                {% if talk.teixidora != nul %}<a href="{{ talk.teixidora }}">Teixidora</a>{% endif %}
                
            </div>

        {% endif %}
    {% endfor %}
    </div>
</div>
</div>

<div class="linia">
    <div class="agenda-item">
        <div class="talks" style="width:100%">
            <div class="talk">
            <hr/>
            </div>
        </div>
    </div>

    {% for conf in site.posts %}
    <div class="agenda-item"> 
        {% if conf.type == "full-afternoon" %}
        <h2 class="time">{{conf.hour}}</h2>
            <div class="talks" style="width:100%">
            <div class="talk">
                <h2><a href="{{site.baseurl}}{{ conf.url }}">{{conf.title }}</a></h2>
                {{ conf.excerpt }}
                {% if conf.pad != nul %}<a href="{{ conf.pad }}">Apunts</a> | {%endif %}
                {% if conf.video != nul %}<a href="{{ conf.video }}">Video</a> | {% endif %}
                {% if conf.teixidora != nul %}<a href="{{ conf.teixidora }}">Teixidora</a>{% endif %}
                <hr />
            </div>
            </div>

        {% endif %}
    </div>
    {% endfor %}
    
</div>