<!DOCTYPE html>
<html lang="ca">

  {% include head.html %}
  <script src="/assets/copyCode.js"></script>

  <body>

    {% include header.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
