/*generated from https://angel-rs.github.io/css-color-filter-generator/ */
.edicions-anteriors a {
  text-decoration: underline;
}

.edicions-anteriors h1 {
  margin: 5% 0% 5% 4%;
}

header {
  background-color: #f5bb10;
  margin: 0;
  padding: 10px;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .title {
  max-width: 400px;
  font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
}

header .title h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

header .subheading b {
  color: #3c6460;
  font-size: 1.1em;
}

header hr {
  background-color: #3c6460;
}

header .navigationbar {
  max-width: 400px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 a {
  font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  background: transparent;
  color: #3c6460;
  line-height: 1.1;
}

header a:hover {
  color: white;
  text-decoration: none;
}

header ul {
  padding-left: 0px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0px;
}

header ul li {
  margin-bottom: 10px;
}

header li a {
  color: #3c6460;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

header li.active a {
  color: white;
}

header .menubutton {
  display: none;
}

@media only screen and (min-width: 650px) and (max-width: 868px) {
  header .container {
    margin: auto;
    display: flow-root;
    flex-direction: column;
  }
  header .subheading {
    font-size: 1.1em;
  }
  header .navigationbar {
    margin-top: 0px;
    width: 36%;
    float: right;
  }
  header .navigationbar li a {
    font-size: 1em;
  }
  header .title h1 {
    font-size: 1em;
    margin-bottom: 30px;
  }
  header h1, h2, h3, h4 {
    font-size: 1.5em;
  }
  header .title {
    max-width: 400px;
    float: left;
  }
  header ul li {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 650px) {
  header .title {
    max-width: 80%;
    font-size: 16pt;
  }
  header .title h1 {
    font-size: inherit;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  header .title .subheading b {
    font-size: 15pt;
  }
  header .navigationbar {
    display: none;
  }
  header .menubutton {
    display: block;
    color: #3c6460;
    text-decoration: none;
    font-size: 40pt;
    margin-top: 10%;
  }
  header ul li {
    margin-bottom: 1px;
  }
}
@media print {
  body {
    background-color: none;
  }
  header .title {
    max-width: 700px;
  }
  header .title h1 {
    font-size: 1em;
    margin-bottom: 1px;
  }
  header .subheading {
    font-size: 0.8em;
    margin-bottom: 2px;
  }
  header .navigationbar {
    display: none;
  }
}
@font-face {
  font-family: "DIN";
  src: url("fonts/DINEngschriftStd.eot");
  src: url("fonts/DINEngschriftStd.eot?#iefix") format("embedded-opentype"), url("fonts/DINEngschriftStd.woff2") format("woff2"), url("fonts/DINEngschriftStd.woff") format("woff"), url("fonts/DINEngschriftStd.ttf") format("truetype"), url("fonts/DINEngschriftStd.svg#DIN") format("svg");
  font-weight: bold;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 26px;
  color: #ECECEA;
  background: #c7224f;
  background-color: #3c6460;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}

h1, h2, h3, h4, b, strong {
  color: #f5bb10;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5%;
  line-height: normal;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4px;
  color: #f5bb10;
  font-weight: bold;
}

.button {
  text-align: center;
  background-color: #f5bb10;
  border: none;
  color: #3c6460;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  color: #f5bb10;
  background-color: #3c6460;
}

hr {
  color: white;
  background-color: white;
  border: none;
  height: 1px;
  margin-bottom: 6%;
  margin-top: 5%;
}

.xarxes img {
  filter: brightness(0) saturate(100%) invert(69%) sepia(95%) saturate(555%) hue-rotate(353deg) brightness(99%) contrast(94%);
}

textarea {
  background-color: #f5bb10;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

.talk-keywords {
  display: flex;
}

@media only screen and (max-width: 650px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  p, ul, li, address, table {
    font-size: 15pt;
    line-height: normal;
  }
  h1 {
    font-size: 20pt;
  }
  h2, .footer h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 17pt;
  }
  textarea {
    font-size: 13pt;
    line-height: normal;
  }
  .button {
    font-size: 13pt;
    padding: 10px 12px;
  }
}
.base {
  max-width: 55%;
  float: left;
  padding-right: 1%;
}

.smallroom {
  max-width: 38%;
  float: right;
  padding-top: 50%;
}

.frame {
  width: 100%;
}

.frame:after {
  display: table;
  clear: both;
  content: "";
}

.agenda {
  max-width: 600px;
}

.agenda-item {
  display: flex;
  align-items: baseline;
}

.agenda-item h2 {
  display: inline;
  font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
  line-height: 1em;
}

.agenda-item .time {
  max-width: 300px;
  margin-top: 30px;
}

.agenda-item .talks .talk {
  padding: 20px;
  flex: 1;
}

.talks {
  width: 100%;
}

.talks hr {
  border-top: 0;
  border-bottom: 3px dashed #f5bb10;
  background: none;
  margin-bottom: 0px;
  margin-top: 30px;
}

.talk-side {
  max-width: 500px;
}

.divider {
  background-image: url("/assets/img/footer-divider.png");
  height: 85px;
  margin-top: 5%;
  margin-bottom: 3%;
  filter: brightness(0) saturate(100%) invert(69%) sepia(95%) saturate(555%) hue-rotate(353deg) brightness(99%) contrast(94%);
  width: 100%;
}

@media only screen and (min-width: 650px) and (max-width: 868px) {
  .agenda-item .time {
    font-size: 30px;
    line-height: 0.7em;
  }
  .agenda-item .talk {
    flex-direction: column;
  }
  .talk-keywords {
    display: block;
  }
}
@media only screen and (max-width: 650px) {
  .agenda-item .time {
    writing-mode: sideways-lr;
    -webkit-writing-mode: vertical-lr;
    margin-bottom: -20px;
    margin-right: -10px;
    margin-top: 0px;
    padding-top: 20px;
  }
  .agenda-item .talks .talk {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    text-wrap: break-word;
  }
  .agenda-item .talks .talk h2 {
    margin-top: 0px;
  }
  .agenda-item .talks .talk a {
    text-decoration-thickness: 2px;
  }
  .agenda-item .talks p {
    font-size: 12pt;
  }
  .talk hr {
    margin-bottom: 0px;
  }
  .talk-description p {
    font-size: 11pt;
  }
  div .container ul {
    display: block;
  }
  .talk-keywords {
    display: block;
  }
}
@media print {
  body h1 {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body h2 {
    font-size: 0.6em;
    margin-top: 10px;
    line-height: normal;
  }
  body h3 {
    font-size: 0.5em;
  }
  body p {
    font-size: 0.3em;
    margin-bottom: 10px;
    line-height: normal;
  }
  body .agenda-item .time {
    display: inline;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.5em;
  }
  .container .agenda-item {
    display: inline-felx;
    line-height: 80%;
  }
  .container .agenda-item .talks hr {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .container .agenda-item .time {
    margin-top: 10px;
  }
  .container .agenda-item .talks .talk {
    padding-bottom: 3%;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  .container .smallroom {
    padding-top: 20%;
  }
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
footer {
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #f5bb10;
}

/* Layout*/
footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container > div {
  max-width: 300px;
}

footer img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(15%) saturate(1039%) hue-rotate(125deg) brightness(88%) contrast(83%);
}

footer p {
  font-weight: bold;
  margin-top: 0%;
  color: #3c6460;
}

footer a {
  color: #3c6460;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

footer a img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(79deg) brightness(103%) contrast(101%);
}

footer h2 {
  color: #3c6460;
  font-weight: bold;
  margin-bottom: 3%;
}

footer h3 {
  color: #3c6460;
  margin-bottom: 1%;
}

footer address {
  max-width: 300px;
}

footer .follow-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12%;
  max-height: 39px;
}

footer .follow-us img {
  width: 50px;
}

footer .footer-divider {
  background-image: url("/assets/img/footer-divider.png");
  height: 50px;
  margin-top: 2%;
  margin-bottom: 3%;
  filter: brightness(0) saturate(100%) invert(36%) sepia(15%) saturate(1039%) hue-rotate(125deg) brightness(88%) contrast(83%);
}

.iconesFooter {
  float: left;
  margin-right: 7px;
  margin-left: 7px;
}

.iconesFooter img {
  width: 50px;
}

@media all and (max-width: 868px) {
  footer .container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
#map iframe {
  height: 200px;
}

.container-web {
  max-height: 23%;
}

@media print {
  footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */