.base  {
  max-width:55%;
  float:left;
  padding-right: 1%;;
}
.smallroom{
  max-width:38%;
  float:right;
  padding-top: 50%;
}
.frame {
  width:100%;
}
.frame:after {
  display:table;
  clear:both;
  content: "";
}
.agenda {
  max-width: 600px;
}
.agenda-item {
  display: flex;
  align-items: baseline;
}

.agenda-item h2 {
    display: inline;
    font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.agenda-item .time {
  max-width: 300px;
  margin-top: 30px;
}

.agenda-item .talks .talk {
  padding: 20px;
  flex: 1;

}

.talks{
  width: 100%;
}
.agenda-item .talk hr {
    border-top: 0;
    border-bottom: 3px dashed $secondary-year-color;
    background: none;
    margin-bottom: 0px;
    margin-top: 30px;

}

.talk-side {
  max-width: 500px;
}

@media all and (max-width:$media-break-point) {


  .agenda-item .time {
    font-size: 30px;
    line-height: 0.7em;
  }

  .agenda-item .talk {
    flex-direction: column;
  }

}

@media print {
body {
    h1 {
    font-size: 0.9em;
    margin-top:0px;
    margin-bottom: 0px;
    }

    h2 {
    font-size: 0.6em;
    margin-top: 10px;
    line-height: normal;;
    }

    h3 {
      font-size: 0.5em;
    }
  
    p {
    font-size: 0.3em;
    margin-bottom: 10px;
    line-height: normal;
  }

 .agenda-item .time {
    display: inline;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.5em;
  }


}
.container {
  .agenda-item {
    display: inline-felx;
    line-height: 80%;
  }

  .agenda-item .talk hr {
    margin-top:10px;
    margin-bottom:0px
  }

  .agenda-item .time {
    margin-top: 10px;
  }
  .agenda-item .talks .talk {
    padding-bottom:3%;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  .smallroom {
    padding-top: 20%;
  }
}
}