header {
	background-color: $secondary-year-color;
	margin: 0;
	padding: 10px;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .title {
  max-width: 350px;
}

header .navigationbar {
  max-width: 400px;
  text-align: right;
  display:flex;
justify-content:flex-end;
align-items:center;
}

header h1 a {
	font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-size:1.5em;
  text-decoration: none;
  background: transparent;
  color: #fff;
  line-height: 1.1;
}

header a:hover {
	color:$primary-year-color;
	text-decoration: none;
}

header .subheading {
  color: $primary-year-color;
  font-size: 26px;
}

header ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}

header ul li {
  margin-bottom: 13px;

}

header li a {
	color:#fff;
  font-size: 38.5px;
  font-weight: bold;
}

header li.active a {
  color: $primary-year-color;
  text-decoration: underline;
}

@media all and (max-width:$media-break-point) {
  header .container {
    margin: auto;
    display: flow-root;
    flex-direction: column;
  }
	header .subheading {
		font-size: 1.1em;
	}

	header .navigationbar {
		margin-top: 20px;
    width: 36%;
    float: right;
	}

	header .navigationbar li a {
		font-size: 1em;
	}

  header h1, h2, h3, h4 {
    font-size: 1.6em;
  } 

  header .title {
    max-width: 200px;
    float: left;
  }


}

@media print {

  body {
    background-color: none;
  }
  header .title {
    max-width:700px;
  }
  header .title h1 {
    font-size: 1em;
    margin-bottom: 1px;;
  }
  header .subheading {
    font-size: 0.8em;
    margin-bottom: 2px;
  }
 
 header .navigationbar {
    display: none;
  }
}