@font-face {
    font-family: 'DIN';
    src: url('fonts/DINEngschriftStd.eot');
    src: url('fonts/DINEngschriftStd.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINEngschriftStd.woff2') format('woff2'),
        url('fonts/DINEngschriftStd.woff') format('woff'),
        url('fonts/DINEngschriftStd.ttf') format('truetype'),
        url('fonts/DINEngschriftStd.svg#DIN') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ECECEA;
  background: #c7224f;
	background-color: $primary-year-color;

}

.container {
  max-width: $content-max-width;
  margin: auto;
  padding: 10px;
}

h1, h2, h3, h4 {
	color: $secondary-year-color;
	text-decoration:none;
	font-weight:bold;
  margin-top: 5%;
  line-height: normal;
}

a {
  text-decoration: none;
  color: $secondary-year-color;
  font-weight: bold;;
}

.button {
  text-align: center;
  background-color: $secondary-year-color;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;;
}
hr{
  color: white;
  background-color: white;
  border: none;
  height:1px;
  margin-bottom: 6%;
  margin-top: 5%;

}

.xarxes img {
  filter: $secondary-year-color-filter;
}