@font-face { font-family: 'DIN'; src: url("fonts/DINEngschriftStd.eot"); src: url("fonts/DINEngschriftStd.eot?#iefix") format("embedded-opentype"), url("fonts/DINEngschriftStd.woff2") format("woff2"), url("fonts/DINEngschriftStd.woff") format("woff"), url("fonts/DINEngschriftStd.ttf") format("truetype"), url("fonts/DINEngschriftStd.svg#DIN") format("svg"); font-weight: bold; font-style: normal; }

body { padding: 0; margin: 0; font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; line-height: 26px; color: #ECECEA; background: #c7224f; background-color: #F07E2A; }

.container { max-width: 1170px; margin: auto; }

h1, h2, h3, h4 { color: #9E186E; text-decoration: none; font-weight: bold; }

a { text-decoration: none; }

.agenda-item { display: flex; align-items: baseline; }

.agenda-item h2 { display: inline; font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif; line-height: 20px; }

.agenda-item .time { width: 300px; }

.agenda-item .talks { display: flex; flex: 1; }

.agenda-item .talks .talk { padding: 20px; flex: 1; }

.agenda-item .talks hr { border-top: 0; border-bottom: 3px dashed #000; }

@media all and (max-width: 780px) { .agenda-item { flex-direction: column; }
  .agenda-item .time { font-size: 30px; line-height: 30px; }
  .agenda-item .talks { flex-direction: column; } }

header { background-color: #9E186E; margin: 0; padding: 10px; display: block; }

header .container { display: flex; justify-content: space-between; }

header .title { max-width: 330px; }

header .navigationbar { max-width: 400px; text-align: left; }

header h1 a { font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 1.5em; text-decoration: none; background: transparent; color: #fff; line-height: 1.1; }

header h1 a:hover { color: #EFDED3; text-decoration: none; }

header .subheading { color: #F07E2A; font-size: 26px; }

header ul { padding-left: 0; list-style: none; margin-top: 0; margin-bottom: 10px; }

header ul li { margin-bottom: 13px; }

header li a { color: #fff; font-size: 38.5px; font-weight: bold; }

header li.active a { color: #F07E2A; }

@media all and (max-width: 780px) { header .container { margin: auto; display: flex; flex-direction: column; }
  header .subheading { font-size: 1.1em; }
  header .navigationbar { margin-top: 20px; }
  header .navigationbar li a { font-size: 1em; } }

footer { margin: 0; padding: 10px; display: block; }

footer .container { display: flex; justify-content: space-between; }

footer .container > div { max-width: 300px; }

footer a { color: #9E186E; }

footer a:hover { color: #fff; }

footer h2 { color: #fff; font-size: 36px; font-weight: bold; }

footer address { max-width: 200px; }

footer .follow-us { display: flex; flex-direction: row; }

footer .follow-us img { width: 50px; }

footer .footer-divider { background-image: url("/assets/img/footer-divider.png"); height: 50px; }

.iconesFooter { display: inline-block; float: left; margin-right: 7px; margin-left: 7px; }

.iconesFooter img { width: 50px; }

@media all and (max-width: 780px) { footer .container { margin: auto; display: flex; flex-direction: column; } }

/*# sourceMappingURL=main.css.map */